
openapi: "3.1.0"

info:
  title: "UIDE Inscripciones API"
  version: "2.0.0"
  description: "API para gestionar el proceso de inscripción académica de estudiantes."
  license:
    name: "MIT"
    identifier: "MIT"

servers:
  - url: https://api.uide.edu.ec
    description: "Servidor de producción"

tags:
  - name: Sistema
    description: Operaciones generales del sistema

  - name: Inscripciones
    description: Gestión de inscripciones académicas

paths:
  /health:
    get:
      tags:
        - Sistema
      operationId: healthCheck
      summary: Estado del servidor
      description: Verifica si el servidor se encuentra activo y funcionando correctamente.

      security:
        - ApiKeyAuth: []

      responses:
        '200':
          description: Servidor activo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
              example:
                status: "ok"

        '401':
          description: API key ausente o inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/inscripciones:
    post:
      tags:
        - Inscripciones
      operationId: crearInscripcionV1
      summary: Crear inscripción (contrato v1)
      description: Registra una nueva inscripción académica utilizando el contrato de la versión 1.

      security:
        - ApiKeyAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InscripcionV1'
            example:
              estudianteId: "550e8400-e29b-41d4-a716-446655440000"
              materias:
                - "LTI_05A_458"
              periodoId: "2026-1"

      responses:
        '201':
          description: Inscripción creada correctamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                  id:
                    type: string
                    format: uuid
              example:
                mensaje: "Inscripción registrada correctamente"
                id: "550e8400-e29b-41d4-a716-446655440000"

        '400':
          description: Payload inválido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '401':
          description: API key ausente o inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v2/inscripciones:
    post:
      tags:
        - Inscripciones
      operationId: crearInscripcionV2
      summary: Crear inscripción con método de pago (contrato v2)
      description: Registra una inscripción académica incluyendo el método de pago.

      security:
        - ApiKeyAuth: []

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InscripcionV2'
            example:
              estudianteId: "550e8400-e29b-41d4-a716-446655440000"
              materias:
                - "LTI_05A_458"
              periodoId: "2026-1"
              payment_method: "scholarship"

      responses:
        '201':
          description: Inscripción creada correctamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                  id:
                    type: string
                    format: uuid
              example:
                mensaje: "Inscripción registrada correctamente"
                id: "550e8400-e29b-41d4-a716-446655440000"

        '400':
          description: Payload inválido o payment_method fuera del enum.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '401':
          description: API key ausente o inválida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  schemas:

    Error:
      type: object
      properties:
        error:
          type: string
        detalle:
          type: string

      example:
        error: "Bad Request"
        detalle: "El campo materias es obligatorio."

    InscripcionV1:
      type: object
      required:
        - estudianteId
        - materias
        - periodoId

      properties:
        estudianteId:
          type: string
          format: uuid
          description: Identificador único del estudiante.

        materias:
          type: array
          description: Lista de materias seleccionadas.
          minItems: 1
          items:
            type: string

        periodoId:
          type: string
          description: Período académico al que pertenece la inscripción.

      additionalProperties: false

    InscripcionV2:
      type: object
      required:
        - estudianteId
        - materias
        - periodoId
        - payment_method

      properties:
        estudianteId:
          type: string
          format: uuid
          description: Identificador único del estudiante.

        materias:
          type: array
          description: Lista de materias seleccionadas.
          minItems: 1
          items:
            type: string

        periodoId:
          type: string
          description: Período académico.

        payment_method:
          type: string
          description: Método de pago utilizado.
          enum:
            - debit
            - credit
            - scholarship

      additionalProperties: false


